@{
    ViewBag.Title = "Contact";
}

    <h2>Zostaw opinię bądź powiedz czego brakuje tej stronie.</h2>
    @using (Html.BeginForm())
    {
        <div>
            Email: @Html.TextBox("title")
        </div>
        <div>
            UWagi:
            @Html.TextBox("body")
        </div>

        <div>
            <input type="submit" value="Wyślij" />
        </div>}
