@{
    ViewBag.Title = "Home Page";
}
<div class="mine">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item">
                <img src="~/zdj/ii.jpg" alt="PersonalniePL">
                <div class="carousel-caption">
                    <h3>Personalnie PL</h3>
                </div>
            </div>
            <div class="item active">
                <img src="~/zdj/ii2.jpg" alt="PersonalniePL">
                <div class="carousel-caption">
                    <h3>Masa trenerów</h3>
                </div>
            </div>
            <div class="item">
                <img src="~/zdj/ii3.jpg" alt="PersonalniePL">
                <div class="carousel-caption">
                    <h3>Zostań zawodowcem</h3>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div> <!-- Carousel -->
</div>
<hr />
@Html.Partial("Contact")


<style>
    .mine {
        text-align: center;
    }

    img {
        height: auto;
        max-width: 100%;
        background-size: cover;
    }
</style>