@model IEnumerable<PersonalniePL.Models.Wiadomosc>

@{
    ViewBag.Title = "Index";
}

<h2>Wiadomości</h2>

<div class="takbylo">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                Pokaż wiadomości
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        @if (item.Autor != User.Identity.Name)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                <button id="btn1">Pokaż wiadomości</button>
            </td>
        }


        @foreach (var item1 in Model)
        {
            @if (item1.Autor == item.Autor && item1.Treners.UserName==User.Identity.Name )
            {
                <div id="niezmyslam">

                    @Html.DisplayFor(modelItem => item1.Tresc)

                </div>
            }

        }
    </tr>
        }
    </table>


</div>
<script>
    $(document).ready(function () {
        $("#niezmyslam").hide();
        $("#btn1").click(function () {
            $("#niezmyslam").show();
        });
    });
</script>

