@model IEnumerable<PersonalniePL.Models.Wiadomosc>

@{
    ViewBag.Title = "Skrzynka";
}

<h2>Wiadomości</h2>

<div class="takbylo">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                Pokaż wiadomości
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tresc)
            </td>
                


    </tr>
        }
    </table>


</div>


